mail-parser==3.15.0,>=4.1
imapclient>=2.1.0
html2text>=2020.1.16
dnspython>=2.0.0
publicsuffix2>=2.20190812
expiringdict==1.2.2
nose
pygments
flake8
doc8
collective.checkdocs
jinja2
packaging
imagesize
alabaster
babel
rstcheck>=3.3.1
docutils<0.19,>=0.7
sphinx
sphinx_rtd_theme
myst-parser
myst-parser[linkify]
wheel
codecov
hatch