imapclient>=2.1.0
mail-parser>=3.9.3
html2text>=2019.9.26
dnspython>=1.16.0
nose
pygments
flake8
doc8
collective.checkdocs
jinja2
packaging
imagesize
alabaster
babel
rstcheck>=3.3.1
sphinx
sphinx_rtd_theme
wheel
codecov

